@page "/"
@using Nonna.Web.Models
@inject HttpClient Http
@inject NavigationManager NavigationManager


<PageTitle>Home</PageTitle>

@if (recipeIndex == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <MudContainer Class="mt-16">
        <MudText Typo="Typo.h3" Align="Align.Center" GutterBottom="true">Nonna</MudText>
        <MudText Align="Align.Center">Recept från farmor</MudText>
        <MudGrid Class="mt-8">
            @foreach (var index in recipeIndex.Index)
            {
                <MudItem xs="12" sm="6" md="4">
                    <MudCard @onclick="@(() => NavigateToRecipe(index.Path))" Elevation="25" Class="rounded-lg pb-4">
                        <MudCardMedia Image="@($"recipes/{index.Path}/{index.Image}")" />
                        <MudCardContent>
                            <MudText Typo="Typo.h5">@index.Title</MudText>
                            <MudText Typo="Typo.body2">@index.Description</MudText>
                        </MudCardContent>
                    </MudCard>
                </MudItem>
            }
        </MudGrid>
    </MudContainer>
}

@code {
    private RecipeIndex recipeIndex;

    protected override async Task OnInitializedAsync()
    {
        recipeIndex = await Http.GetFromJsonAsync<RecipeIndex>("recipes/index.json");
    }

    private void NavigateToRecipe(string recipe)
    {
        NavigationManager.NavigateTo("/Nonna/" + recipe);
    }
}
