@using Nonna.Web.Themes
@inherits LayoutComponentBase

@* Required *@
@* <MudThemeProvider Theme="@NonnaThemes.PrimaryTheme" IsDarkMode="true" /> *@
<MudThemeProvider />
<MudPopoverProvider />

@* Needed for dialogs *@
<MudDialogProvider />

@* Needed for snackbars *@
<MudSnackbarProvider />

<div class="page">
    <main>
        <article>
            @Body
        </article>
    </main>
</div>
